<header [ngClass]="{'close-menu': !menuActivate}">
    <nav class="nav-header" *ngIf="auth?.authenticate">
        <div class="btn-menu">
            <button class="btn btn-primary" (click)="changeMenu()">
                <i class="material-icons">{{menuActivate ? 'menu_open' : 'menu'}}</i>
            </button>
        </div>

        <h2 class="title">{{titlePage}}</h2>

        <div class="user-dropdown" *ngIf="auth && auth?.user">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    {{auth?.user.name | initialName}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="nav-link dropdown-item" [routerLink]="['/logout']"
                       [routerLinkActive]="'active'">Sair</a>
                </div>
            </div>
        </div>
    </nav>

    <nav class="nav-sidebar" *ngIf="auth?.authenticate">
        <div class="logo-nav">
            <a [routerLink]="['/']">
                <img src="{{menuActivate ? '../assets/img/logotipo/logo-white.svg' : '../assets/img/logotipo/logo-initials-white.svg'}}"
                     alt="">
            </a>

            <button class="btn-menu-mobile" (click)="menuMobileActivate = !menuMobileActivate">
                <em>{{!menuMobileActivate ? 'Menu' : 'Fechar'}}</em>
                <i class="material-icons">{{!menuMobileActivate ? 'menu' : 'close'}}</i>
            </button>
        </div>

        <ul class="nav-items" [ngClass]="{'nav-items-mobile': menuMobileActivate}">
            <li>
                <select (change)="linkMenu(selectModules.value)" #selectModules>
                    <option value="">Selecione o môdulo</option>
                    <option value="/gestao-de-demandas/lista-de-demandas" [selected]="routeDemandManagement">
                        {{menuActivate ? 'Gestão de demandas' : 'GD - Gestão de demandas'}}
                    </option>
                    <option value="/quem-e-quem/lista-de-usuarios" [selected]="routeWhoIs">
                        {{menuActivate ? 'Quem é quem' : 'QQ - Quem é quem'}}
                    </option>
                    <option value="/sites/lista-de-sites" [selected]="routeSites">
                        {{menuActivate ? 'Sites' : 'SS - Sites'}}
                    </option>
                </select>
            </li>
        </ul>
        <ul class="nav-items"
            [ngClass]="{'display-none': !routeDemandManagement, 'nav-items-mobile': menuMobileActivate && routeDemandManagement}">
            <!-- <li>
                <a href="#" routerLinkActive="router-link-active" placement="right" ngbTooltip="Dashboard">
                    <i class="material-icons">dashboard</i>
                    <span> Dashboard</span>
                </a>
            </li> -->

            <li>
                <a [routerLink]="['/gestao-de-demandas']" placement="right" ngbTooltip="Demandas"
                   routerLinkActive="router-link-active">
                    <i class="material-icons">view_list</i>
                    <span> Demandas</span>
                </a>
            </li>
            <!--

                        <li>
                            <a [routerLink]="['/usuarios']" routerLinkActive="router-link-active" placement="right" ngbTooltip="Usuários">
                                <i class="material-icons">face</i>
                                <span> Usuarios</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" routerLinkActive="router-link-active" placement="right" ngbTooltip="Atividades">
                                <i class="material-icons">history</i>
                                <span> Atividades</span>
                            </a>
                        </li>

                        <li>
                            <a href="#" routerLinkActive="router-link-active" placement="right" ngbTooltip="Configurações">
                                <i class="material-icons">settings_applications</i>
                                <span> Configurações</span>
                            </a>
                        </li> -->
        </ul>

        <div class="user-menu" [ngClass]="{'nav-items-mobile': menuMobileActivate}" *ngIf="auth && auth?.user">
            <div class="user-name" (click)="menuPerfilActivate = !menuPerfilActivate">
                <div class="initial-name">
                    {{auth?.user.name | initialName}}
                </div>
                <p>{{auth?.user.name}}</p>
                <i class="material-icons">{{ !menuPerfilActivate ? 'expand_more' : 'expand_less'}}</i>
            </div>
            <ul class="user-actions" [ngClass]="{'display-none': !menuPerfilActivate}">
                <li><a href="#"><i class="material-icons">person</i> Perfil</a></li>
                <li>
                    <a [routerLink]="['/logout']" [routerLinkActive]="'active'"><i class="material-icons">input</i>
                        Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>