<div class="alert-container">
    <div class="alert-item show-message animated fast" [class]="'alert-item-' + item.id"
         [ngClass]="{'shake': item.data.error, 'fadeIn': !item.data.error}"
         *ngFor="let item of items; let i = index">
        <div class="alert-icon ">
            <i class="icon color-{{item.data.color}}">
                <mat-icon aria-hidden="false">{{item.data.icon}}</mat-icon>
            </i>
        </div>
        <div class="alert-message">
            <span class="alert-title">{{item.data.title}}</span>
            <span class="alert-text" [innerHTML]="item.data.message"></span>
        </div>
        <div *ngIf="item.data.actions" class="alert-actions">
            <span (click)="close(item.id)">fechar</span>
            <span *ngIf="item.data.copy" (click)="copyError(item.id)" class="copy-error">Copiar</span>
        </div>
    </div>
</div>
