<form class="demand-filter">
    <div>
        <div class="row">
            <div class="col text-right">
                <a [routerLink]="['/gestao-de-demandas/nova-demanda']" routerLinkActive="router-link-active"
                   class="btn color-link filter-item btn-with-icon">
                    <i class="material-icons">library_books</i>
                    <span>Nova demanda</span>
                </a>

                <a (click)="openFilter(filterModal)" routerLinkActive="router-link-active"
                   class="btn margin-l-10 filter-item btn-with-icon">
                    <i class="material-icons">tune</i>
                    <span>Filtros</span>
                </a>

                <app-demand-excel [demandsFilter]="formFilter.value" [mobile]="false"></app-demand-excel>

                <div class="dropdown dropdown-filter">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_horiz</i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">

                        <a [routerLink]="['/gestao-de-demandas/nova-demanda']" routerLinkActive="router-link-active"
                           class="nav-link dropdown-item">
                            <span>Nova demanda</span>
                        </a>

                        <a (click)="openFilter(filterModal)" routerLinkActive="router-link-active"
                           class="nav-link dropdown-item">
                            <span>Filtros</span>
                        </a>

                        <app-demand-excel [demandsFilter]="formFilter.value" [mobile]="true"></app-demand-excel>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<ng-template #filterModal>
    <form [formGroup]="formFilter" class="demand-filter" (ngSubmit)="onSubmit()"
          autocomplete="off">
        <div class="modal-header">
            <h2 class="modal-title title pull-left">Filtros</h2>

            <button type="button" class="close pull-right" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row margin-t-30">
                <div class="form-group col">
                    <label>ID</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">#</span>
                        </div>

                        <input type="text" id="demand_id" class="form-control" formControlName="demand_id">
                    </div>
                </div>

                <div *ngIf="currentUser.user.capacity_id == 1 || (currentUser.representation_offices.length > 1)"
                     class="form-group col">
                    <label>Regional</label>
                    <ng2-selectize formControlName="regional_id"
                                   class="selectize" [config]="configRegional"
                                   [options]="optionsRegionals"
                                   placeholder="Selecione o status">
                    </ng2-selectize>
                </div>

                <div class="form-group col">
                    <label>Demanda relacionada ao COVID-19?</label>
                    <select class="form-control" formControlName="theme">
                        <option value="">Todas as demandas</option>
                        <option value="0">Não</option>
                        <option value="1">Sim</option>
                    </select>
                </div>

                <div class="form-group col">
                    <label for="entity">Entidade</label>
                    <ng2-selectize formControlName="entity_id"
                                   id="entity"
                                   class="selectize-entity"
                                   [config]="configEntity"
                                   [options]="optionsEntity"
                                   [(ngModel)]="selectEntity"
                                   placeholder="Selecione a entidade">
                    </ng2-selectize>
                </div>

                <div class="form-group col">
                    <label>Status</label>
                    <ng2-selectize formControlName="status_id"
                                   class="selectize-demand-status"
                                   [(ngModel)]="selectStatus"
                                   [config]="configDemandStatus"
                                   [options]="optionsDemandStatus"
                                   placeholder="Selecione o status">
                    </ng2-selectize>
                </div>

                <div class="form-group col">
                    <label>Cadastrante</label>
                    <input type="text"
                           [ngClass]="{'is-invalid': formFilter.get('demand_requester').errors && formFilter.get('demand_requester').touched }"
                           formControlName="demand_requester" class="form-control" id="demand_requester"
                           placeholder="Digite o cadastrante">
                </div>

                <div class="form-group col">
                    <label>Categorias</label>
                    <ng2-selectize formControlName="demand_category_id"
                                   [ngClass]="{'is-invalid': formFilter.get('demand_category_id').errors && formFilter.get('demand_category_id').touched }"
                                   class="selectize-demand-category"
                                   [config]="configDemandCategory"
                                   [options]="optionsDemandCategory"
                                   [(ngModel)]="selectCategory"
                                   placeholder="Selecione a categoria">
                    </ng2-selectize>
                </div>

                <div class="form-group col"
                     *ngIf="formFilter.get('entity_id').value == 1 || formFilter.get('entity_id').value == 2">
                    <label>Setores</label>
                    <ng2-selectize formControlName="sector_id"
                                   [ngClass]="{'is-invalid': formFilter.get('sector_id').errors && formFilter.get('sector_id').touched }"
                                   class="selectize-sector"
                                   [config]="configSector"
                                   [options]="optionsSector"
                                   [(ngModel)]="selectSector"
                                   placeholder="Selecione um setor">
                    </ng2-selectize>
                </div>

                <div class="form-group col"
                     *ngIf="formFilter.get('entity_id').value == 1 || formFilter.get('entity_id').value == 2">
                    <label>Sindicatos</label>
                    <ng2-selectize formControlName="syndicate_id"
                                   [ngClass]="{'is-invalid': formFilter.get('syndicate_id').errors && formFilter.get('syndicate_id').touched }"
                                   [(ngModel)]="selectSyndicates"
                                   class="selectize-unions" [config]="configUnions" [options]="optionsUnions"
                                   placeholder="Selecione os sindicatos">
                    </ng2-selectize>
                </div>

                <div class="form-group col"
                     *ngIf="formFilter.get('entity_id').value == 2 || formFilter.get('entity_id').value == 3">
                    <label>Razão social</label>
                    <input type="text" formControlName="company_name"
                           class="form-control" placeholder="Digite a Razão social">
                </div>

                <div class="form-group col"
                     *ngIf="formFilter.get('entity_id').value == 4 || formFilter.get('entity_id').value == 5 || formFilter.get('entity_id').value == 6 || formFilter.get('entity_id').value == 7 || formFilter.get('entity_id').value == 9">
                    <label *ngIf="formFilter.get('entity_id').value == 5">Grupo setorial</label>
                    <label *ngIf="formFilter.get('entity_id').value == 4 || formFilter.get('entity_id').value == 6">Conselhos</label>
                    <label *ngIf="formFilter.get('entity_id').value == 7">Diretoria</label>
                    <label *ngIf="formFilter.get('entity_id').value == 9">Forúns</label>
                    <ng2-selectize formControlName="council_id"
                                   [ngClass]="{'is-invalid': formFilter.get('council_id').errors && formFilter.get('council_id').touched }"
                                   class="selectize-councils"
                                   [config]="configCouncils"
                                   [options]="optionsCouncils"
                                   [(ngModel)]="selectCouncil"
                                   placeholder="Selecione">
                    </ng2-selectize>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="form-group text-right">
                <button type="button" (click)="resetForm();"
                        class="btn btn-white">
                    <span>Limpar filtros</span>
                </button>

                <button type="submit" class="btn btn-info btn-with-icon margin-l-10">
                    <i class="material-icons">search</i>
                    <span>Filtrar</span>
                </button>
            </div>
        </div>
    </form>
</ng-template>
