<form #formDemandFilter [formGroup]="formFilter" class="demand-filter" (ngSubmit)="onSubmit(formFilter)"
      autocomplete="off">

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h1 class="page-title">Filtros</h1>
                </div>
                <div class="col text-right">
                    <button type="button" (click)="filterVisibility = !filterVisibility" class="btn btn-outline-info"
                            [ngClass]="{'btn-info color-text-white': !filterVisibility}">
                      {{!filterVisibility ? 'Mostrar filtros' : 'Esconder filtros'}}
                    </button>

                    <a [routerLink]="['/gestao-de-demandas/nova-demanda']" routerLinkActive="router-link-active"
                       class="btn btn-primary margin-l-10">Nova demanda</a>

                </div>
            </div>
            <hr *ngIf="filterVisibility">
            

            <div class="row margin-t-30" [ngClass]="{'display-none': !filterVisibility}">
                <div class="form-group col-lg-2 col-md-2">
                    <label>ID</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">#</span>
                        </div>
    
                        <input type="text" id="demand_id" class="form-control" formControlName="demand_id">
                    </div>
                </div>

                <div class="form-group col-lg-3 col-md-5 col-sm-12">
                    <label for="entity">Entidade</label>
                    <ng2-selectize  formControlName="entity_id"
                                   id="entity"
                                   class="selectize-entity" [config]="configEntity" [options]="optionsEntity"
                                   placeholder="Selecione a entidade">
                    </ng2-selectize>
                </div>

                <div class="form-group col-lg-2 col-md-5 col-sm-12">
                    <label>Status</label>
                    <ng2-selectize formControlName="status_id" 
                                   class="selectize-demand-status" [config]="configDemandStatus"
                                   [options]="optionsDemandStatus"
                                   placeholder="Selecione o status">
                    </ng2-selectize>
                </div>

                <div class="form-group col-lg-2 col-md-6 col-sm-12">
                    <label>Cadastrante</label>
                    <input type="text" 
                           [ngClass]="{'is-invalid': formFilter.get('demand_requester').errors && formFilter.get('demand_requester').touched }"
                           formControlName="demand_requester" class="form-control" id="demand_requester"
                           placeholder="Digite o cadastrante">
                </div>
                
                <div class="form-group col-lg-3 col-md-6 col-sm-12">
                    <label>Categorias</label>
                    <ng2-selectize formControlName="demand_category_id"
                                   [ngClass]="{'is-invalid': formFilter.get('demand_category_id').errors && formFilter.get('demand_category_id').touched }"
                                   class="selectize-demand-category" [config]="configDemandCategory"
                                   [options]="optionsDemandCategory" placeholder="Selecione a categoria">
                    </ng2-selectize>
                </div>

                <div class="form-group col-lg-3 col-md-6 col-sm-12" *ngIf="formFilter.get('entity_id').value == 1 || formFilter.get('entity_id').value == 2">
                    <label>Setores</label>
                    <ng2-selectize formControlName="sector_id"
                                   [ngClass]="{'is-invalid': formFilter.get('sector_id').errors && formFilter.get('sector_id').touched }"
                                   class="selectize-sector" [config]="configSector" [options]="optionsSector"
                                   placeholder="Selecione um setor">
                    </ng2-selectize>
                </div>

                <div class="form-group col-lg-3 col-md-6 col-sm-12" *ngIf="formFilter.get('entity_id').value == 1 || formFilter.get('entity_id').value == 2">
                    <label>Sindicatos</label>
                    <ng2-selectize formControlName="syndicate_id"
                                   [ngClass]="{'is-invalid': formFilter.get('syndicate_id').errors && formFilter.get('syndicate_id').touched }"
                                   class="selectize-unions" [config]="configUnions" [options]="optionsUnions"
                                   placeholder="Selecione os sindicatos">
                    </ng2-selectize>
                </div>

                <div class="form-group col-lg-3 col-md-6 col-sm-12" *ngIf="formFilter.get('entity_id').value == 2 || formFilter.get('entity_id').value == 3">
                    <label>Razão social</label>
                    <input type="text" formControlName="company_name" 
                    class="form-control" placeholder="Digite a Razão social">
                </div>

                <div class="form-group col-lg-3 col-md-6 col-sm-12"  *ngIf="formFilter.get('entity_id').value == 4 || formFilter.get('entity_id').value == 5 || formFilter.get('entity_id').value == 6 || formFilter.get('entity_id').value == 7 || formFilter.get('entity_id').value == 9">
                    <label *ngIf="formFilter.get('entity_id').value == 5">Grupo setorial</label>
                    <label *ngIf="formFilter.get('entity_id').value == 4 || formFilter.get('entity_id').value == 6">Conselhos</label>
                    <label *ngIf="formFilter.get('entity_id').value == 7">Diretoria</label>
                    <label *ngIf="formFilter.get('entity_id').value == 9">Forúns</label>
                    <ng2-selectize formControlName="council_id"
                                   [ngClass]="{'is-invalid': formFilter.get('council_id').errors && formFilter.get('council_id').touched }"
                                   class="selectize-councils" [config]="configCouncils" [options]="optionsCouncils"
                                   placeholder="Selecione">
                    </ng2-selectize>
                </div>

                <div class="form-group col padding-t-30">
                    <button type="submit" class="btn btn-info">Filtrar</button>
                    <button type="reset" (click)="resetForm(); formDemandFilter.reset()"
                            class="btn btn-outline-info margin-l-10">Limpar
                        Filtro
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>