<div class="user-container" *ngIf="user" (mouseover)="userHover=true" (mouseout)="userHover=false">
    <span class="initial-name">
        {{user.name | initialName}}
    </span>
    <div class="user-details" [ngClass]="{'user-details-active': userHover}">
        <div class="user-name margin-b-20">
            <span class="user-title">nome</span>
            <span class="user-text">{{user.name}}</span>
        </div>
        <div class="user-email">
            <span class="user-title">email</span>
            <span class="user-text">{{user.email}}</span>
        </div>
    </div>
</div>