@import "../../shared/styles/spacing";

.demand-detail-container {
  padding: 20px;
  background-color: #f0f3f6;

  .demand-card-group {
    .card-body {
      & > .row > div {

        margin-bottom: 20px;
      }
    }
  }

  @media screen and (max-width: 580px) {
    .btn {
      width: 100%;
      margin: auto auto 5px auto;
    }
  }

}
