<div class="demand-detail-container">
    <div *ngIf="demand">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/gestao-de-demandas/lista-de-demandas']">Lista de demandas</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Demanda #{{demand.id}}</li>
            </ol>
        </nav>

        <div class="row">
            <div class="col text-right">
                <button (click)="openModal = !openModal" class="btn btn-outline-info">
                    <!-- <span class="material-icons">
                        history
                    </span> -->
                    Histórico de status
                </button>
                <button class="btn btn-primary margin-l-10">Editar demanda</button>
            </div>
        </div>

        <div class="demand-card-group">
            <h3>Dados do solicitante</h3>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h6 class="card-label mb-2 text-muted">Nome</h6>
                            <h5 class="card-text">{{demand.solicitante.nome}}</h5>
                        </div>
                        <div class="col">
                            <h6 class="card-label mb-2 text-muted">Último nome</h6>
                            <h5 class="card-text">{{demand.solicitante.sobrenome}}</h5>
                        </div>
                        <div class="col">
                            <h6 class="card-label mb-2 text-muted">E-mail</h6>
                            <h5 class="card-text">{{demand.solicitante.email}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="demand-card-group">
            <h3>Dados gerais</h3>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h6 class="card-label mb-2 text-muted">Entidade</h6>
                            <h5 class="card-text">{{demand.entidade.nome}}</h5>
                        </div>
                        <div class="col">
                            <h6 class="card-label mb-2 text-muted">Sindicatos</h6>
                            <h5 class="card-text" *ngFor="let item of demand.demandas_sindicatos">
                                {{item.sigla}}
                            </h5>
                        </div>
                        <div class="col">
                            <h6 class="card-label mb-2 text-muted">Prazo</h6>
                            <h5 class="card-text">{{demand.prazo ? demand.prazo : '---'}}</h5>
                        </div>
                    </div>

                    <div class="row margin-t-30">
                        <div class="col-lg-4">
                            <h6 class="card-label mb-2 text-muted">Categoria</h6>
                            <h5 class="card-text">{{demand.subcategoria_demanda.categoria_demanda.nome}}</h5>
                        </div>
                        <div class="col-lg-4">
                            <h6 class="card-label mb-2 text-muted">Subcategoria</h6>
                            <h5 class="card-text">{{demand.subcategoria_demanda.nome}}</h5>
                        </div>
                    </div>

                    <div class="row margin-t-30">
                        <div class="col">
                            <h6 class="card-label mb-2 text-muted">Do que se trata?</h6>
                            <h5 class="card-text">{{demand.escopo ? demand.escopo_details.label : '---' }}</h5>
                        </div>
                    </div>
                    <div class="row margin-t-30">
                        <div class="col">
                            <h6 class="card-label mb-2 text-muted">Descrição</h6>
                            <h5 class="card-text">{{demand.descricao}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="demand-card-group"
            *ngIf="demand.subcategoria_demanda.categoria_demanda.nome == 'Defesa de Interesse'">
            <h3>Objetivo estratégico</h3>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h6 class="card-label mb-2 text-muted">Categoria</h6>
                            <h5 class="card-text">{{demand}}</h5>
                        </div>
                        <div class="col">
                            <h6 class="card-label mb-2 text-muted">Subcategoria</h6>
                            <h5 class="card-text">{{demand.entidade.nome}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="demand-card-group">
            <h3>Encaminhamento</h3>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h6 class="card-label mb-2 text-muted">Foi encaminhado?</h6>
                            <h5 class="card-text">
                                <input type="checkbox" disabled [checked]="demand.encaminhada_area_tecnica">
                                <label for="" class="margin-l-10">Encaminhado para área técnica</label>
                            </h5>
                        </div>
                        <div class="col">
                            <h6 class="card-label mb-2 text-muted">E-mail da área técnica</h6>
                            <h5 class="card-text">email@hotmail.com</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-demand-history [demandSelected]="demand" [openModal]="openModal">
</app-demand-history>