<app-alerts></app-alerts>
<div class="demand-detail-container">
    <div *ngIf="demand">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/']">Início</a>
                </li>
                <li class="breadcrumb-item">
                    <a [routerLink]="['/gestao-de-demandas/lista-de-demandas']">Lista de demandas</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Demanda #{{demand.id}}</li>
            </ol>
        </nav>

        <div class="row margin-b-20 text-right">
            <div class="col">
                <a (click)="openModal = !openModal" routerLinkActive="router-link-active"
                   class="btn filter-item btn-with-icon">
                    <i class="material-icons">history</i>
                    <span>Histórico de status</span>
                </a>

                <a *ngIf="permissionUpdateDemand"
                   (click)="demandAddSelected = demand; openModalAddHistory = !openModalAddHistory"
                   routerLinkActive="router-link-active"
                   class="btn margin-l-10 filter-item btn-with-icon">
                    <i class="material-icons">add_circle_outline</i>
                    <span>Atualizar status</span>
                </a>

                <a disabled *ngIf="!permissionUpdateDemand"
                   routerLinkActive="router-link-active"
                   class="btn margin-l-10 filter-item btn-with-icon text-muted text-not-allowed">
                    <i class="material-icons">add_circle_outline</i>
                    <span>Atualizar status</span>
                </a>

                <a [routerLink]="['/gestao-de-demandas/demanda/'+demand.id+'/editar']" routerLinkActive="false"
                   class="btn margin-l-10 filter-item btn-with-icon"
                   *ngIf="demand.histories[demand.histories.length - 1].user_id == currentUser.user.id || currentUser.user.role === 10">
                    <i class="material-icons">edit</i>
                    <span>Editar demanda</span>
                </a>

                <a *ngIf="currentUser.user.role == 10"
                   (click)="destroyDemand()" routerLinkActive="false"
                   class="btn margin-l-10 filter-item btn-with-icon text-danger">
                    <i class="material-icons">delete_forever</i>
                    <span>Excluir demanda</span>
                </a>
            </div>
        </div>

        <div class="demand-card-group" *ngIf="false">
            <h3>Responsáveis</h3>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <h6 class="card-label mb-2 text-muted">Relacionamento</h6>
                            <h5 class="card-text"
                                *ngFor="let item of demand.responsible">
                            </h5>
                            <!--<h5 class="card-text" *ngIf="!demand.responsible.relationship">-&#45;&#45;</h5>-->
                        </div>
                        <div class="col-lg-4">
                            <h6 class="card-label mb-2 text-muted">Gerência Técnica</h6>
                            <!--<h5 class="text-muted" *ngFor="let item of demand.demands_managements"></h5>-->
                            <!--<h5 class="card-text" *ngIf="demand.responsible?.technical"-->
                            <!--*ngFor="let item of demand.responsible.technical">-->
                            <!--{{item.name}}-->
                            <!--</h5>-->
                            <!--<h5 class="card-text" *ngIf="!demand.responsible?.technical">-&#45;&#45;</h5>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="demand-card-group">
            <h3>Dados do solicitante</h3>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <h6 class="card-label mb-2 text-muted">Nome</h6>
                            <h5 class="card-text">{{demand.demand_requester.name}}</h5>
                        </div>
                        <div class="col-lg-4">
                            <h6 class="card-label mb-2 text-muted">Último nome</h6>
                            <h5 class="card-text">{{demand.demand_requester.last_name}}</h5>
                        </div>
                        <div class="col-lg-4">
                            <h6 class="card-label mb-2 text-muted">E-mail</h6>
                            <h5 class="card-text"
                                *ngFor="let item of demand.demand_requester.demand_requesters_emails">
                                {{item.email}}
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="demand-card-group">
            <h3>Dados gerais</h3>

            <div class="card">
                <div class="card-body">

                    <div class="row" *ngIf="demand.regional_id">
                        <div class="col-lg-4">
                            <h6 class="card-label mb-2 text-muted">Regional</h6>
                            <h5 class="card-text">{{demand.regional.name}}</h5>
                        </div>
                    </div>

                    <div class="row" [ngClass]="{' margin-t-30': demand.regional_id}">
                        <div class="col-lg-4">
                            <h6 class="card-label mb-2 text-muted">Entidade</h6>
                            <h5 class="card-text">{{demand.entity.name}}</h5>
                        </div>

                        <div class="col-lg-4" *ngIf="demand.council">
                            <h6 class="card-label mb-2 text-muted">Conselho</h6>
                            <h5>{{demand.council.name}}</h5>
                        </div>

                        <div class="col-lg-4" *ngIf="demand.demands_syndicates.length">
                            <h6 class="card-label mb-2 text-muted">Sindicatos</h6>
                            <h5 class="card-text" *ngFor="let item of demand.demands_syndicates">
                                {{item.initial}}
                            </h5>
                        </div>

                        <div class="col-lg-4" *ngIf="demand.company && !demand.demands_syndicates.length">
                            <h6 class="card-label mb-2 text-muted">Razão social</h6>
                            <h5 class="card-text">
                                {{demand.company.name ? demand.company.name : '---'}}
                            </h5>
                        </div>

                        <div class="col-lg-4" *ngIf="demand.company && !demand.demands_syndicates.length">
                            <h6 class="card-label mb-2 text-muted">CNPJ</h6>
                            <h5 class="card-text">
                                {{demand.company.cnpj}}
                            </h5>
                        </div>
                    </div>

                    <div class="row margin-t-30">
                        <div class="col-lg-4">
                            <h6 class="card-label mb-2 text-muted">Prazo</h6>
                            <h5 class="card-text">
                                {{demand.time_period ? (demand.time_period | date:'d MMM, y') : (timePeriod ?
                                (timePeriod | date:'d MMM, y') : '---')}}
                            </h5>
                        </div>
                        <div class="col-lg-4">
                            <h6 class="card-label mb-2 text-muted">Soma de todos os custos</h6>
                            <h5 class="card-text">R$ {{total ? (total | currency) : "0,00" }}</h5>
                        </div>
                    </div>

                    <div class="row margin-t-30" *ngIf="demand.company && demand.demands_syndicates.length">
                        <div class="col-lg-4">
                            <h6 class="card-label mb-2 text-muted">Razão social</h6>
                            <h5 class="card-text">
                                {{demand.company.name}}
                            </h5>
                        </div>

                        <div class="col-lg-4">
                            <h6 class="card-label mb-2 text-muted">CNPJ</h6>
                            <h5 class="card-text">
                                {{demand.company.cnpj}}
                            </h5>
                        </div>
                    </div>

                    <div class="row margin-t-30">
                        <div class="col-lg-4">
                            <h6 class="card-label mb-2 text-muted">Categoria</h6>
                            <h5 class="card-text">{{demand.demand_subcategory.demand_category.name}}</h5>
                        </div>
                        <div class="col-lg-4">
                            <h6 class="card-label mb-2 text-muted">Subcategoria</h6>
                            <h5 class="card-text">{{demand.demand_subcategory.name}}</h5>
                        </div>
                    </div>

                    <div class="row margin-t-30">
                        <div class="col-lg-4">
                            <h6 class="card-label mb-2 text-muted">Demanda relacionada ao tema COVID-19?</h6>
                            <h5 class="card-text">{{demand.theme ? 'Sim' : 'Não'}}</h5>
                        </div>

                        <div class="row margin-t-30">
                          <div class="col-lg-4">
                              <h6 class="card-label mb-2 text-muted">Cobrança?</h6>
                              <h5 class="card-text">{{demand.theme ? 'Sim' : 'Não'}}</h5>
                          </div>

                        <div class="col-lg-4" *ngIf="demand.demand_subcategory.demand_category.id == 4">
                            <h6 class="card-label mb-2 text-muted">Do que se trata?</h6>
                            <h5 *ngIf="!demand.demands_scopes.length">--</h5>
                            <h5 class="card-text" *ngFor="let item of demand.demands_scopes">{{item.name}}</h5>
                        </div>
                    </div>

                    <div class="row margin-t-30">
                        <div class="col-lg-8">
                            <h6 class="card-label mb-2 text-muted">Descrição</h6>
                            <h5 class="card-text" [innerHTML]="demand.description"></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="demand-card-group"
             *ngIf="demand.entity_id == 2 || demand.entity_id == 3 || demand.entity_id == 10">
            <h3>Condição para atendimento </h3>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <h6 class="card-label mb-2 text-muted">
                                {{demand.entity_id == 2 ? 'O Sindicato aprovou o atendimento da demanda?' : 'Empresa
                                está apta?'}}
                            </h6>
                            <p class="card-text"
                               *ngIf="demand.entity_id == 2 && demand.permission_syndicate != null">
                                {{demand.permission_syndicate == 1 ? 'Aprovado' : ( demand.permission_syndicate == 3
                                ?
                                'Sem necessidade de aprovação' : 'Não aprovado')}}
                            </p>
                            <p class="card-text"
                               *ngIf="(demand.entity_id == 3 || demand.entity_id == 10) && demand.permission_syndicate != null">
                                {{demand.permission_syndicate == 1 ? 'Apta' : 'Inapta'}}
                            </p>

                            <p class="card-text" *ngIf="demand.permission_syndicate == null">
                                Aguardando aprovação.
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <h6 class="card-label mb-2 text-muted">Justificativa</h6>
                            <p class="card-text" [innerHTML]="demand.justification"></p>
                            <h5 class="card-text"
                                *ngIf="demand.justification == '' || demand.justification == null">
                                --</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="demand-card-group"
             *ngIf="demand.demand_subcategory.demand_category.id == 4">
            <h3>Objetivo estratégico</h3>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <h6 class="card-label mb-2 text-muted">Categoria</h6>
                            <h5 class="card-text">
                                {{!demand.strategic_objective_subcategory ? "--" :
                                demand.strategic_objective_subcategory?.strategic_objective_category?.name}}
                            </h5>
                        </div>
                        <div class="col-lg-4">
                            <h6 class="card-label mb-2 text-muted">Subcategoria</h6>
                            <h5 class="card-text">
                                {{!demand.strategic_objective_subcategory ? "--" :
                                demand?.strategic_objective_subcategory?.name}}
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="demand-card-group">
            <h3>Encaminhamento</h3>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <h6 class="card-label mb-2 text-muted">Foi encaminhado?</h6>
                            <h5 class="card-text">
                                <input type="checkbox" disabled [checked]="demand.forwarded_to_the_technical_area">
                                <label class="margin-l-10">{{demand.forwarded_to_the_technical_area ? 'Foi' :
                                    'Não foi'}} encaminhado</label>
                            </h5>
                        </div>
                        <div class="col-lg-6">
                            <h6 class="card-label mb-2 text-muted">Historico de e-mails</h6>
                            <div class="card-text" *ngFor="let item of demand.demands_users">
                                <p>{{item.name}} - {{item.email}} -
                                    <small class="text-muted">{{item.pivot.created_at | date:'dd/MM/yyyy'}}</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-demand-history [demandSelected]="demand" [openModal]="openModal" (updateHistory)="updateDemand(demand)"
                    (deleteHistory)="updateDemand(demand)">
</app-demand-history>

<app-demand-add-history (closeHistory)="getDemand(demandId)" [demandSelected]="demandAddSelected"
                        [openModal]="openModalAddHistory"></app-demand-add-history>
