<div class="register-container">
    <div class="main-container">
        <a [routerLink]="['/login']" class="back-to-login"> <i class="material-icons">chevron_left</i> Voltar para o
            login</a>
        <h1 class="page-title margin-t-40">Cadastro</h1>

        <form [formGroup]="formRegister" (ngSubmit)="onSubmit(formRegister)" autocomplete="off">
            <div class="row">
                <div class="block-group col-md-6">
                    <h3 class="form-title">Dados gerais</h3>
                    <p class="form-subtitle">Insira os dados para o seu perfil.</p>
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="name">Nome</label>
                                <input type="text"
                                       [ngClass]="{'is-invalid': formRegister.get('name').errors && formRegister.get('name').touched }"
                                       formControlName="name" class="form-control" id="name"
                                       placeholder="Digite seu nome">
                            </div>
                            <div class="form-group">
                                <label for="email">E-mail</label>
                                <input type="text"
                                       [ngClass]="{'is-invalid': formRegister.get('email').errors && formRegister.get('email').touched }"
                                       formControlName="email" class="form-control" id="email"
                                       placeholder="Digite seu e-mail">
                            </div>
                            <div class="form-group">
                                <label for="telephone">Telefone</label>
                                <input type="text"
                                       [ngClass]="{'is-invalid': formRegister.get('telephone').errors && formRegister.get('telephone').touched }"
                                       formControlName="telephone"
                                       value="{{formRegister.get('telephone').value | telephone}}" class="form-control"
                                       id="telephone" maxlength="15" placeholder="Digite seu telefone">
                            </div>
                            <div class="form-group">
                                <label for="capacity_id">Lotação</label>
                                <select name="capacity_id" formControlName="capacity_id"
                                        (change)="getGeneralManagement(); getSectors()"
                                        [ngClass]="{'is-invalid': formRegister.get('capacity_id').errors && formRegister.get('capacity_id').touched }"
                                        class="form-control" id="capacity_id">
                                    <option value="">Selecione a lotação</option>
                                    <option *ngFor="let item of optionsCapacity" [value]="item.id">
                                        {{item.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="block-group col-md-6">
                    <h3 class="form-title">Conta</h3>
                    <p class="form-subtitle">Insira suas credenciais para ter acesso ao sistema.</p>
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="username">Usuário</label>
                                <input type="text"
                                       [ngClass]="{'is-invalid': formRegister.get('username').errors && formRegister.get('username').touched }"
                                       formControlName="username" class="form-control" id="username"
                                       placeholder="Digite seu nome">
                            </div>
                            <div class="form-group">
                                <label for="password">Senha</label>
                                <input type="password"
                                       [ngClass]="{'is-invalid': formRegister.get('password').errors && formRegister.get('password').touched }"
                                       formControlName="password" class="form-control" id="password"
                                       placeholder="Digite seu e-mail">
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirmar senha</label>
                                <input type="password"
                                       [ngClass]="{'is-invalid': formRegister.get('confirmPassword').errors && formRegister.get('confirmPassword').touched }"
                                       formControlName="confirmPassword" class="form-control" id="confirmPassword"
                                       placeholder="Digite seu e-mail" (blur)="matchValues(formRegister)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="" *ngIf="formRegister.get('capacity_id').value == '1'">
                <div class="row">
                    <div class="block-group  margin-t-40 col-md-6">
                        <h3 class="form-title">Gerencias gerais</h3>
                        <p class="form-subtitle">Preencha os dados abaixo.</p>
                        <div class="card">
                            <div class="card-body">
                                <label for="">Gerencia Geral</label>
                                <select name="general_management_id" formControlName="general_management_id"
                                        class="form-control" (change)="getManagements()"
                                        [ngClass]="{'is-invalid': formRegister.get('general_management_id').errors && formRegister.get('general_management_id').touched }">
                                    <option value="">Selecione a gerencia geral</option>
                                    <option *ngFor="let item of optionGeneralManagement" [value]="item.id">
                                        {{item.initial}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="block-group  margin-t-40 col-md-6">
                        <h3 class="form-title">Gerencias</h3>
                        <p class="form-subtitle">Preencha os dados abaixo.</p>
                        <div class="card">
                            <div class="card-body">
                                <label for="">Gerencia</label>
                                <ng2-selectize formControlName="management_id"
                                               [ngClass]="{'is-invalid': formRegister.get('management_id').errors && formRegister.get('management_id').touched }"
                                               class="selectize-regional" [config]="configManagement"
                                               [options]="optionManagement">
                                </ng2-selectize>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" *ngIf="permissionManagements">
                    <div class="block-group  margin-t-40 col-md-6">
                        <h3 class="form-title">Divisão</h3>
                        <p class="form-subtitle">Selecione sua divisão</p>
                        <div class="card">
                            <div class="card-body">
                                <label for="department_id">Divisão</label>
                                <select name="department_id" formControlName="department_id" class="form-control"
                                        id="department_id"
                                        [ngClass]="{'is-invalid': formRegister.get('department_id').errors && formRegister.get('department_id').touched }">
                                    <option value="">Selecione a divisão</option>
                                    <option *ngFor="let item of optionDepartments" [value]="item.id">
                                        {{item.initial}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="block-group  margin-t-40 col-md-6">
                        <h3 class="form-title">Equipe de relacionamento</h3>
                        <p class="form-subtitle">Preencha os dados abaixo.</p>
                        <div class="card">
                            <div class="card-body" formGroupName="relationship">
                                <!-- <div *ngIf="!formRegister.get('relationship.check_industry_relationship').value">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input"
                                            formControlName="check_relationship" id="relacionamento">
                                        <label class="form-check-label" for="relacionamento">Equipe de
                                            relacionamento</label>
                                    </div>

                                    <div class="form-group margin-t-20"
                                        *ngIf="formRegister.get('relationship.check_relationship').value">
                                        <label for="">Regional</label>
                                        <ng2-selectize formControlName="regionais"
                                            [ngClass]="{'is-invalid': formRegister.get('relationship.check_relationship').errors && formRegister.get('relationship.check_relationship').touched }"
                                            class="selectize-regional" [config]="configRegional"
                                            [options]="optionRegional">
                                        </ng2-selectize>
                                    </div>
                                    <div class="form-group"
                                        *ngIf="formRegister.get('relationship.check_relationship').value">
                                        <label for="">Sindicatos</label>
                                        <ng2-selectize formControlName="sindicatos" #selectizeSindicato
                                            class="selectize-sindicato" [config]="configSindicato"
                                            [options]="optionsSindicatos">
                                        </ng2-selectize>
                                    </div>
                                </div> -->
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input"
                                           formControlName="check_industry_relationship" id="relacionamento_setorial">
                                    <label class="form-check-label" for="relacionamento_setorial">Equipe de
                                        relacionamento setorial</label>
                                </div>

                                <div class=" margin-t-20"
                                     *ngIf="formRegister.get('relationship.check_industry_relationship').value">
                                    <label for="">Setores</label>
                                    <ng2-selectize formControlName="syndicates_sectors" #selectizeSector
                                                   class="selectize-setor" [config]="configSyndicatesSectors"
                                                   [options]="optionsSyndicatesSectors">
                                    </ng2-selectize>
                                </div>

                                <div class="form-group"
                                     *ngIf="formRegister.get('relationship.check_industry_relationship').value">
                                    <label for="">Sindicatos</label>
                                    <ng2-selectize formControlName="syndicates" #selectizeSindicato
                                                   class="selectize-sindicato" [config]="configSyndicates"
                                                   [options]="optionsSyndicates">
                                    </ng2-selectize>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row"
                 *ngIf="formRegister.get('capacity_id').value && formRegister.get('capacity_id').value !== '1'">
                <div class="block-group  margin-t-40 col-md-6">
                    <h3 class="form-title">Representante Regional</h3>
                    <p class="form-subtitle">Se você for representante de uma regional, preencha os dados abaixo.</p>
                    <div class="card">
                        <div class="card-body">
                            <div *ngFor="let office of offices; index as i;" class="margin-b-20">
                                <div class="card text-white bg-primary mb-3">
                                    <div class="card-body margin-t-none">
                                        <div class="form-group">
                                            <label for="" class="text-white">Regional</label>
                                            <input type="text" value="{{office.regional.name}}" class="form-control"
                                                   readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="text-white">Cargo</label>
                                            <input type="text" value="{{office.office.name}}" class="form-control"
                                                   readonly>
                                        </div>

                                        <div class="text-right">
                                            <button type="button" class="btn btn-link btn-card  text-white border-light"
                                                    (click)="removeOffice(i)">remover
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div formGroupName="regional_representation" *ngIf="permissionOffice">
                                <div class="form-group">
                                    <label for="regional_representation">Regional</label>
                                    <select name="regional_representation"
                                            [ngClass]="{'is-invalid': permissionOffice && formRegister.get('regional_representation.regional').errors && formRegister.get('regional_representation.regional').touched }"
                                            formControlName="regional" [(ngModel)]="selectRegional" class="form-control"
                                            id="regional_representation">
                                        <option *ngFor="let item of optionRegional" value="{{item.id}}">
                                            {{item.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="office_representation">Cargo</label>
                                    <select name="office_representation"
                                            [ngClass]="{'is-invalid': permissionOffice && formRegister.get('regional_representation.office').errors && formRegister.get('regional_representation.office').touched }"
                                            formControlName="office" [(ngModel)]="selectCargo" class="form-control"
                                            id="office_representation">
                                        <option *ngFor="let item of optionOffices; trackBy: trackByFn"
                                                value="{{item.id}}">
                                            {{item.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer text-center" *ngIf="permissionOffice">
                            <button type="button" class="btn btn-link btn-card"
                                    (click)="selectRegional && selectCargo ? addOffice([selectRegional, selectCargo]) : null">
                                Adicionar cargo
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group margin-t-50 text-right">
                <button type="submit" class="btn btn-primary btn-lg">Cadastrar</button>
            </div>
        </form>
    </div>
</div>