@import "../../shared/styles/forms";

.register-container {
  background-color: #f0f3f6;
  width: 100%;
  height: auto;
  padding: 40px;
  min-height: 100vh;

  .back-to-login {
    display: flex;
    align-items: center;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  
  @media screen and (max-width: 600px) {
    padding: 20px;
  }
  .page-title,
  form {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 768px) {
      .block-group {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.is-invalid {
  .selectize-control {
    .selectize-input {
      border: 1px solid red !important;
    }
  }
}
