<div class="password-reset-container">
        <div class="container height-max">
            <div class="row align-items-center justify-content-center height-max">
                <div class="card">
                    <div class="card-body">
                        <div class="padding-b-10">
                            <img src="../../../assets/img/logotipo/logo.svg" class="logo" alt="">
                        </div>

                        <a [routerLink]="['/login']" class="back-to-login"> <i class="material-icons">chevron_left</i> Voltar para o login</a>

                        
                        <form [formGroup]="formPasswordReset" (ngSubmit)="onSubmitPassword()" autocomplete="off" *ngIf="token.valid">
                                <div class="form-group">
                                    <label for="newPwd">Senha</label>
                                    <input type="password" name="newPwd"
                                            [ngClass]="{'is-invalid': formPasswordReset.get('newPwd').errors && formPasswordReset.get('newPwd').touched }"
                                            formControlName="newPwd" class="form-control" id="newPwd" aria-describedby="newPwd"
                                            placeholder="Digite a nova senha">
                                    <div class="invalid-feedback" *ngIf="formPasswordReset.get('newPwd').errors">
                                        <span *ngIf="formPasswordReset.get('newPwd').errors.required">
                                            Preencha este campo.
                                        </span>
                                        <span *ngIf="formPasswordReset.get('newPwd').errors.minLength">
                                            Muito curta.
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="confirmPwd">Digite novamente</label>
                                    <input type="password" id="confirmPwd" name="confirmPwd"
                                    [ngClass]="{'is-invalid': formPasswordReset.get('confirmPwd').errors && formPasswordReset.get('confirmPwd').touched}"
                                    formControlName="confirmPwd" class="form-control" id="confirmPwd" aria-describedby="confirmPwd"
                                    placeholder="Confirm sua senha" >
                                    <div class="invalid-feedback" *ngIf="formPasswordReset.get('confirmPwd').errors">
                                        <span *ngIf="formPasswordReset.get('confirmPwd').errors.matchValues">
                                            As senhas não correspondem.
                                        </span>
                                        <span *ngIf="formPasswordReset.get('confirmPwd').errors.required">
                                            Preencha este campo.
                                        </span>
                                        <span *ngIf="formPasswordReset.get('confirmPwd').errors.minLength">
                                            Muito curta.
                                        </span>
                                    </div>
                                </div>
        
                                
                                <button type="submit" [disabled]="!formPasswordReset.valid"
                                        class="btn btn-primary">
                                        enviar nova senha
                                </button>
                            </form>

                        <form [formGroup]="formEmail" (ngSubmit)="onSubmitEmail()" autocomplete="off" *ngIf="!token.valid">
                            <div class="form-group">
                                <label for="email">Digite o endereço de e-mail verificado da sua conta de usuário e enviaremos um link de redefinição de senha.</label>
                                <input type="text" name="email"
                                        [ngClass]="{'is-invalid': formEmail.get('email').errors && formEmail.get('email').touched }"
                                        formControlName="email" class="form-control" id="email" aria-describedby="email"
                                        placeholder="Digite o E-mail">
                                <div class="invalid-feedback" *ngIf="formEmail.get('email').errors">
                                    <span *ngIf="formEmail.get('email').errors.required">
                                        Preencha este campo.
                                    </span>
                                    <span *ngIf="formEmail.get('email').errors.email">
                                        Digite o e-mail corretamente.
                                    </span>
                                </div>
                            </div>
    
                            
                            <button type="submit" [disabled]="!formEmail.valid"
                                    class="btn btn-primary">
                                    enviar e-mail de redefinição de senha
                            </button>
                        </form>
                    </div>  
                </div>
            </div>
        </div>
    </div>