.modal-background {
  display: none;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  z-index: 10;
  overflow: scroll;

  .modal {
      display: flex;
  }
}
