@import "../../shared/styles/forms";
@import "../../shared/styles/spacing";

.demand-add-container {
  padding: 20px;
  background-color: #f0f3f6;

  .card {
    max-width: initial;
  }

  .card-forward {
    max-width: 400px;
  }

  .selectize-control.single .selectize-input, 
  .selectize-control.single .selectize-input input {
    min-height: 36px;
  }
}

