<ng-template #modal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Status da demanda #</h4>

        <button type="button" class="close pull-right" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- Modal Body -->
    <div class="modal-body">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, cupiditate, rerum fugit iste maxime hic
        facilis quia itaque mollitia non et voluptas nostrum distinctio illum sed voluptatem nam exercitationem
        quibusdam?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modalRef.hide()">Fechar</button>
    </div>
</ng-template>