<ng-template #modal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Atualizar status da demanda</h4>

        <button type="button" class="close pull-right" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- Modal Body -->
    <form [formGroup]="formStatus" (ngSubmit)="onSubmit(formStatus)">
        <div class="modal-body">
            <div class="status-item padding-t-30 padding-b-30" *ngIf="formStatus">
                <div class="row">
                    <div class="col form-group">
                        <label>Status</label>
                        
                        <ng2-selectize formControlName="status" [(ngModel)]="status"
                            [ngClass]="{'is-invalid': formStatus.get('status').errors && formStatus.get('status').touched }"
                            class="selectize-demand-status" [config]="configDemandStatus"
                            [options]="optionsDemandStatus"
                            placeholder="Selecione o status">
                        </ng2-selectize>
                    </div>
                    <div class="col form-group">
                        <label>Custo</label>
                        <input type="text" formControlName="cost" class="form-control">
                    </div>
                    <div class="col form-group">
                        <label>Prazo</label>
                        <input type="date" formControlName="time_period" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <label>Comentario</label>
                        <textarea formControlName="comment" class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modalRef.hide()">Fechar</button>
            <button type="submit" class="btn btn-success">Atualizar status</button>
        </div>
    </form>
</ng-template>