<ng-template #modal>
    <div class="modal-header">
        <h2 class="modal-title title pull-left">Status da demanda #{{demandSelected.id}}</h2>

        <button type="button" class="close pull-right" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- Modal Body -->
    <div class="modal-body">
        <div *ngFor="let item of demandSelected.histories; let i = index">
            <div class="row status-item padding-t-30 padding-b-30">
                <div class="col-2 display-flex justify-content-center">
                    <app-initial-name [user]="item.user"></app-initial-name>
                </div>
                <div class="col-10">
                    <div class="row margin-b-20">
                        <div class="col display-flex">
                            <div class="demand-group">
                                <app-update-status
                                        (updatedStatus)="updateStatus($event)"
                                        [currentStatus]="item"
                                        [options]="optionsStatus"></app-update-status>
                            </div>
                            <div class="demand-group">
                                <h5 class="demand-label">Atualizado em</h5>
                                <h6 class="demand-text">{{item.updated_at | date:'d MMM, y'}}</h6>
                            </div>
                            <div class="demand-group">
                                <h5 class="demand-label">Custo</h5>
                                <h6 class="demand-text">{{item.cost > 0 ? 'R$ ' + (item.cost | currency) : '---'}}</h6>
                            </div>

                            <div class="demand-group">
                                <h5 class="demand-label">Prazo</h5>
                                <h6 class="demand-text">{{item.time_period | date:'d MMM, y'}}</h6>
                            </div>

                            <div class="demand-group margin-l-auto"
                                 *ngIf="currentUser.user.role === 10 && item.status != 8">
                                <button class="btn btn-link"
                                        matTooltip="Apagar status"
                                        (click)="delete_status(i, item.id)">
                                    <span class="material-icons">
                                    delete_forever
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="demand-group">
                                <h5 class="demand-label">Comentário</h5>
                                <h6 class="demand-text" [innerHTML]="item.comment"></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modalRef.hide()">Fechar</button>
    </div>
</ng-template>