.modal-header {
  .modal-title {
    max-width: 600px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 10px;
  }
}

.modal-body {

  @media screen and (max-width: 580px) {
    padding: 0;

    .status-item {
      flex-direction: column;
      padding: 15px 1px;
      margin: 0;

      & > div {
        margin-bottom: 14px;

        &:not(:first-child) {
          max-width: 100%;
        }
      }
    }
  }

  & > div:not(:last-child) .status-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  & > div:nth-child(even) .status-item {
    background-color: rgba(200, 200, 200, 0.2);
  }
}

.status-item {
  .demand-group {
    &:not(:first-child) {
      margin-left: 25px;
    }

    .demand-label {
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 600;
      color: #c4c5c5 !important;
    }

    .demand-text {
      font-size: 16px;
      margin: 0;
      font-weight: 400;

      &.badge {
        font-size: 14px;
        text-transform: uppercase;
      }
    }
  }
}
