@import "./shared/styles/default";

.app-container {

  @media screen and (max-width: 600px) {
    width: 100%;
    height: auto;
  }
}

.app-style-default {
  position: relative;
  height: calc(100% - 65px);
  width: calc(100% - 60px);
  top: 65px;
  left: 60px;
  transition: 0.3s;

  @media screen and (max-width: 600px) {
    width: initial;
    left: initial;
  }
}

.display-none {
  display: none;
}

.environment-message {
  z-index: 10;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  padding: 0px;
  font-size: 13px;
  border-radius: 0;
  opacity: .6;
}
