<app-alerts></app-alerts>
<app-loader></app-loader>
<!-- <header>
    <nav>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/sites']" [routerLinkActive]="'active'" href="#">Sites</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/usuarios']" [routerLinkActive]="'active'" href="#">Usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/link']" [routerLinkActive]="'active'" href="#">Link</a>
            </li>
        </ul>
    </nav>
</header> -->
<router-outlet></router-outlet>