<app-alerts></app-alerts>

<div class="users-list">
    <div class="row">
        <div class="col">

            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Tipo de usuário</th>
                    <th scope="col">Regional</th>
                    <th scope="col">Áreas</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of users">
                    <th scope="row">
                        {{user.id}}
                    </th>
                    <td class="animated fadeIn">{{user.name}}</td>
                    <td class="animated fadeIn">{{user.email}}</td>
                    <td class="animated fadeIn">{{user.role_details.label}}</td>
                    <td class="animated fadeIn">
                        <span *ngFor="let item of user.representation_offices; let i = index; last as isLast">
                            {{item.regional.name ? (item.regional.name && isLast && user.representation_offices.length > 1 ? ' - ' + item.regional.name : item.regional.name) : item.regional.name}}
                        </span>
                        <span *ngIf="!user.representation_offices.length">--</span>
                    </td>
                    <td class="animated fadeIn">
                        <div class="d-flex flex-wrap" style="max-width: 200px;">
                            <h5 *ngFor="let item of user.users_managements" class="pl-1 pr-1">
                                <span class="badge badge-info">{{item.initial}}</span>
                            </h5>

                            <span *ngIf="user.users_managements.length < 1">--</span>
                        </div>
                    </td>
                    <td class="animated fadeIn">
                        <div class="btn-action">
                            <div class="btn btn-link">
                                <i class="material-icons">
                                    face
                                </i>
                            </div>

                            <div (click)="newPassword(user.email)" class="btn btn-link">
                                <i class="material-icons">
                                    vpn_key
                                </i>
                            </div>

                            <div (click)="enableUser(user.status, user.id)">
                                <i class="material-icons icon-toggle"
                                   [ngClass]="{'text-success': user.status, 'text-danger': !user.status}">
                                    {{user.status ? 'toggle_on' : 'toggle_off'}}
                                </i>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr *ngIf="users && !users.length" class="margin-t-20">
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                </tr>

                <app-ininite-scroll (scrolled)="getUsers($event)"></app-ininite-scroll>

                </tbody>
            </table>

        </div>
    </div>
</div>