<div class="users-list">
    <div class="row">
        <div class="col">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nome</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Tipo de usuário</th>
                        <th scope="col">Lotação</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <th scope="row">
                            <app-initial-name [user]="user"></app-initial-name>
                        </th>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.role_details.label}}</td>
                        <td>{{user.lotacao.nome}}</td>
                        <td>
                            <div class="btn-action">
                                <div class="btn btn-link">
                                    <i class="material-icons">
                                        face
                                    </i>
                                </div>

                                <div (click)="enableUser(user.active, user.id)">
                                    <i class="material-icons icon-toggle"
                                        [ngClass]="{'text-success': user.active, 'text-danger': !user.active}">
                                        {{user.active ? 'toggle_on' : 'toggle_off'}}
                                    </i>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr *ngIf="users && !users.length" class="margin-t-20">
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>