@import "./spacing";
@import "./color";

* {
}

h1,
h2,
h3,
h4,
h5,
p,
span,
em {
  font-family: "Lato", sans-serif;
}

.logo {
  max-width: 180px;
}

.main-container {
  max-width: 1336px;
  margin: 0 auto;
}

.page {
  &-title {
    font-size: 35px;
    color: #373a3c;
    font-weight: 700;
    margin-bottom: 60px;

    &::after {
      content: "";
      width: 30px;
      height: 4px;
      background: #5bc0de;
      display: block;
    }
  }
}

.title {
  font-size: 20px;
  color: #444444;
  font-weight: 600;
}

.text {
  font-size: 14px;
  color: #999999;
}

.padding-default {
  position: relative;
  height: calc(100% - 65px);
  width: calc(100% - 200px) !important;
  top: 65px !important;
  left: 200px !important;
}

.display-none {
  display: none;
}
