@import "../../shared/styles/default";

.home-container {
  height: 100%;

  .modules {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;

    @media screen and (max-width: 550px) {
      height: initial;
      padding-top: 40px;
    }

    .module-item {
      width: 100%;
      height: 100%;
      max-width: 300px;
      max-height: 300px;
      padding: 30px 15px;
      margin: 15px;
      border: none;
      border-bottom: 6px solid transparent;
      transition: 0.3s;
      text-decoration: transparent;
      box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);

      @media screen and (max-width: 600px) {
        flex-direction: row;
        max-width: initial;
        border-bottom: transparent;
        border-right: 6px solid transparent;
        padding: 15px;
        height: initial;
      }

      &.demand_management {
        border-color: #ff9999;
        &:hover {
          background: #ff9999;
        }
      }

      &.who_is {
        border-color: #9ae8f7;
        &:hover {
          background: #9ae8f7;
          .card-body {
            .title,
            .text {
              color: #444444;
            }
          }
        }
      }

      &.site_management {
        border-color: #f6e29f;
        &:hover {
          background: #f6e29f;
          .card-body {
            .title,
            .text {
              color: #444444;
            }
          }
        }
      }

      &.dashboard {
        border-color: #f6e29f;
        &:hover {
          background: #f6e29f;
          .card-body {
            .title,
            .text {
              color: #444444;
            }
          }
        }
      }

      &.email-marketing {
        border-color: #62B36F;
        &:hover {
          background: #BFFFC9;
          .card-body {
            .title,
            .text {
              color: #444444;
            }
          }
        }
      }

      &:hover {
        .card-body {
          .title,
          .text {
            color: #fff;
          }
        }
      }

      .image {
        text-align: center;
        margin-top: 20px;
        height: 75px;

        img {
          max-width: 75px;
          width: 100%;
        }

        @media screen and (max-width: 600px) {
          margin-top: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 50px;
          }
        }
      }

      .card-body {
        text-align: center;
        color: #444444;
        padding: 20px 0 0;

        @media screen and (max-width: 600px) {
          text-align: left;
          padding: 7px 7px 7px 25px;
        }

        .text {
          padding-bottom: 0;
          margin-bottom: 0;
        }
      }
    }
  }
}
