<div class="home-container">
    <div class="modules">
        <a [routerLink]="['/gestao-de-demandas/lista-de-demandas']" [queryParams]="{page:1}"
            class="module-item card demand_management">
            <div class="image">
                <img src="../assets/img/illustrations/demand_management.svg" alt="illustration-module">
            </div>
            <div class="card-body">
                <h5 class="title">Gestão de demandas</h5>
                <p class="text">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidun
                </p>
            </div>
        </a>
        <a [routerLink]="['/quem-e-quem/sindicatos/lista-de-sindicatos']" class="module-item card who_is">
            <div class="image">
                <img src="../assets/img/illustrations/who_is.svg" alt="illustration-module">
            </div>
            <div class="card-body">
                <h5 class="title">Quem é quem?</h5>
                <p class="text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </a>
        <a [routerLink]="['/sites/lista-de-sites']" class="module-item card site_management">
            <div class="image">
                <img src="../assets/img/illustrations/site_management.svg" alt="illustration-module">
            </div>
            <div class="card-body">
                <h5 class="title">Sites e servidores</h5>
                <p class="text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </a>
    </div>
</div>