@import "../../shared/styles/spacing";

.cards-controls {
  visibility: hidden;
  padding: 20px;
  flex-direction: row-reverse;
  align-items: center;

    nav {
      width: 100%;
      
      .breadcrumb {
        margin-bottom: initial;
      }    
    }

  p.pagination-text {
    margin: 0;
    opacity: 0.5;
    font-size: 0.9rem;
    font-weight: 700;
    width: 115px;
    text-align: right;
    flex-shrink: 0;
  }

  button.btn-refresh {
    margin-left: 15px;
    flex-shrink: 0;
  }

  .pagination {
    margin-left: 20px;

    button {
      width: 40px;
      height: 40px;
      color: rgba(0, 0, 0, 0.8);
      border-color: none;
      border-style: none;
      border-radius: 100%;
      margin: 0 3px;
      outline: none;
      transition: 0.3s;

      &:active {
        opacity: 0.5;
      }

      &:disabled {
        opacity: 0.2;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  @media screen and (max-width: 780px) {
    
    flex-direction: column-reverse;
    height: 253px;
    justify-content: space-between;
  }
}

.visibility-initial {
  visibility: initial;
}
