<div class="padding-20">
    <div class="card" *ngFor="let demand of demands?.data">
        <div class="card-header">
            title
        </div>
        <div class="card-body">
            <div class="card-group">
                <em>Sindicato</em>
                <p class="card-text" *ngFor="let item of demand.demandas_sindicatos">{{item.sigla}}</p>
            </div>
            <div class="card-group">
                <em>Status</em>
                <p
                    class="card-text color-status-{{demand.historico_demanda[demand.historico_demanda.length - 1].status}}">
                    {{demand.historico_demanda[demand.historico_demanda.length - 1].status_label}}
                </p>
            </div>

            <div class="card-group">
                <em>Cadastrado em</em>
                <p class="card-text">{{demand.created_at}}</p>
            </div>

            <div class="card-group">
                <em>Atualizado em</em>
                <p class="card-text">
                    {{demand.historico_demanda[demand.historico_demanda.length - 1].created_at}}
                </p>
            </div>

            <div class="card-group">
                <em>Pessoas</em>
                <div class="card-users" *ngFor="let item of demand.historico_demanda">
                    <span>{{item.user.name | initialName}}</span>
                </div>
            </div>

            <div class="card-group">
                <em>Descrição</em>
                <p>
                    {{demand.descricao}}
                </p>
            </div>


            <div class="card-group">
                <em>Categoria</em>
                <p class="card-text">
                    {{demand.entidade.nome}}
                </p>
            </div>

        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>