<div class="demand-list-container"  *ngIf="currentUser && currentUser.authenticate">
    <app-demand-filter (formOnSubmit)="filterSubmit($event)"></app-demand-filter>

    <app-demand-pagination [currentPage]="page" [demands]="demands" (pagination)="onPagination($event)">
    </app-demand-pagination>

    <div class="padding-l-20 padding-b-20  padding-r-20">

        <div class="card fadeIn border-entidade-{{demand.entity.id}} demand-{{demand.id}}"
            *ngFor="let demand of demands?.data" (click)="openDemand(demand.id)" placement="top"
            ngbTooltip="Tooltip on top">
            <div class="card-body">
                <div class="row">
                    <div class="card-group demand-icon">
                        <div>
                            <img alt="" src="../assets/img/illustrations/demand_management.svg">
                        </div>
                    </div>
                    <div class="card-group card-id">
                        <em>ID</em>
                        <p class="card-text">#{{demand.id}}</p>
                    </div>
                    <div class="card-group card-categoria">
                        <em>Entidade</em>
                        <p class="card-text">
                            {{demand.entity.name}}
                        </p>
                    </div>
                    <div class="card-group card-sindicato" *ngIf="demand.company && !demand.demands_syndicates.length">
                        <em>Razão social</em>
                        <p class="card-text">{{demand.company.name}}</p>
                    </div>
                    <div class="card-group card-sindicato" *ngIf="demand.council">
                        <em>{{demand.entity == 5 ? 'Grupo setorial' : 'Conselho' }}</em>
                        <p class="card-text">{{demand.council.name}}</p>
                    </div>
                    <div class="card-group card-sindicato" *ngIf="demand.demands_syndicates.length">
                        <em>Sindicato</em>
                        <p class="card-text" *ngFor="let item of demand.demands_syndicates">{{item.initial}}</p>
                    </div>
                    <div class="card-group card-status">
                        <em>Status</em>
                        <p class="badge background-status-{{demand.histories[0].status}}">
                            {{demand.histories[0].status_label}}
                        </p>
                    </div>

                    <div class="card-group card-date">
                        <em>Cadastrado em</em>
                        <p class="card-text">{{demand.created_at | date:'d MMM, y'}}</p>
                    </div>

                    <div class="card-group card-date">
                        <em>Atualizado em</em>
                        <p class="card-text">
                            {{demand.histories[0].created_at | date:'d MMM, y'}}
                        </p>
                    </div>

                    <div class="card-group card-person">
                        <em>Pessoas</em>
                        <div class="card-users">
                            <span
                                *ngFor="let item of usersDemand(demand.histories)">{{item.name | initialName}}</span>
                        </div>
                    </div>
                </div>

                <div class="row extended-items display-none margin-t-30">

                    <div class="card-group card-sindicato" *ngIf="demand.company && demand.demands_syndicates.length">
                        <em>Razão social</em>
                        <p class="card-text">{{demand.company.name}}</p>
                    </div>

                    <div class="card-group card-categoria">
                        <em>Categoria</em>
                        <p class="card-text">
                            {{demand.demand_subcategory.demand_category.name}}
                        </p>
                    </div>


                    <div class="card-group card-descricao">
                        <em>Descrição</em>
                        <p>
                            {{demand.description}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-footer display-flex">

                <a (click)="addHistoryDemand($event);" class="text-muted "
                *ngIf="(currentUser.user.role == 11 && !demand.permission_syndicate && demand.entity_id == 2) || demand.histories[0].status === 1 || demand.histories[0].status === 7 || demand.histories[0].status === 6">
                    <i class="material-icons">
                        add_circle_outline
                    </i>
                </a>
                <a (click)="addHistoryDemand($event); demandAddSelected = demand; openModalAddHistory = !openModalAddHistory"
                    class="color-entidade-{{demand.entity.id}}"
                    *ngIf="!(currentUser.user.role == 11 && !demand.permission_syndicate && demand.entity_id == 2) && !(demand.histories[0].status === 1 || demand.histories[0].status === 7 || demand.histories[0].status === 6)">
                    <i class="material-icons">
                        add_circle_outline
                    </i>
                </a>
                <a (click)="historyDemand($event); demandSelected = demand; openModalShowHistory = !openModalShowHistory"
                    class="color-entidade-{{demand.entity.id}}">
                    <i class="material-icons">
                        history
                    </i>
                </a>
                <a [routerLink]="['/gestao-de-demandas/demanda/', demand.id]"
                    class="color-entidade-{{demand.entity.id}}">
                    <i class="material-icons">open_in_new</i>
                </a>
            </div>
        </div>

        <div class="margin-t-20" *ngIf="demands && !demands?.data.length">
            <p> Nenhuma demanda encontrada...</p>
        </div>
    </div>
</div>

<app-demand-history [demandSelected]="demandSelected" [openModal]="openModalShowHistory">
</app-demand-history>

<app-demand-add-history [demandSelected]="demandAddSelected"  [openModal]="openModalAddHistory"></app-demand-add-history>