@import "../../shared/styles/color";
@import "../../shared/styles/spacing";

.demand-list-container {
  background-color: #f0f3f6;
  min-height: calc(100vh - 67px);

  .text-muted {
    color: #dcdcdc !important;
  }

  .card {
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin-bottom: 0;
    cursor: pointer;
    box-shadow: 1px 1px 8px rgba(150, 150, 150, .1);
    border-color: none !important;
    height: 80px;

    &:hover {
      box-shadow: 1px 1px 14px rgba(150, 150, 150, 0.7);
      position: relative;
      z-index: 1;
    }

    .card-body {
      margin: 0;
      padding-top: 4px;
      padding-left: 25px;
      padding-bottom: 0;
      height: 100%;
      display: flex;
      align-items: center;
      width: 90%;

      & > .row {
        margin: 0;
        width: 100%;

        @media screen and (min-width: 1250px) {
          //justify-content: space-between;
        }

        .card-group {
          display: flex;
          flex-direction: column;
          margin-right: 20px;
          justify-content: center;

          @media screen and (max-width: 1420px) {
            margin-right: 15px;
          }

          p {
            margin: 0;
          }

          &.card-id {
            width: 60px;

            .card-text {
              font-weight: 600;

              i {
                opacity: .5
              }
            }

            @media screen and (max-width: 1420px) {
              width: 50px;
            }
          }

          &.card-person {
            //min-height: 70px;
            max-width: 120px;
            width: 100%;
          }

          &.card-status {
            width: 120px;
          }

          &.card-date {
            width: 105px;

            @media screen and (max-width: 1420px) {
              width: 115px;
            }
          }

          &.card-sindicato {
            width: 120px;
            p {
              white-space: nowrap;
              overflow: hidden; /* "overflow" value must be different from "visible" */
              text-overflow: ellipsis;
              width: 100%;
              max-width: 160px;
            }
          }

          em {
            color: rgba(0, 0, 0, 0.3);
            margin-bottom: 2px;
            font-size: 12px;
          }

          .card-text {
            font-size: 15px;
            font-weight: 500;
            color: #333333;

            @media screen and (max-width: 1420px) {
              font-size: 1rem;
            }
          }

          .status {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 600;
            white-space: nowrap;
            overflow: hidden;
            max-width: 125px;
            text-overflow: ellipsis;
          }

          &.demand-icon {
            display: flex;
            align-items: center;
            justify-content: center;

            div {
              width: 50px;

              @media screen and (max-width: 1420px) {
                width: 40px;
              }

              img {
                width: 100%;
              }
            }
          }

          &.card-descricao {
            width: 30%;

            p {
              margin-right: auto;
              width: 100%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          &.card-categoria, &.card-entidade {
            width: 100%;
            max-width: 140px;

            @media screen and (max-width: 1420px) {
              max-width: 130px;
            }

            p {
              white-space: nowrap;
              overflow: hidden; /* "overflow" value must be different from "visible" */
              text-overflow: ellipsis;
              width: 100%;
              max-width: 170px;
            }
          }

          .card-users {
            position: relative;
            display: flex;

            span {
              background: #0275d8;
              width: 35px;
              height: 35px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 100%;
              color: #fff;
              position: relative;
              border: 2px solid #fff;
              font-size: 0.8rem;

              @for $i from 1 through 9 {
                &:nth-child(#{$i}) {
                  left: calc(-15px * (#{$i} - 1));
                }
              }
            }
          }

          @media screen and (max-width: 1176px) {
            &.card-date-register {
              display: none;
            }
          }

          @media screen and (max-width: 1500px) {
            &.card-descricao {
              display: none;
            }
          }

          @media screen and (max-width: 1321px) {
            &.card-categoria {
              display: none;
            }
          }

          @media screen and (min-width: 1500px) {
            &.card-descricao {
              width: 10%;
            }
          }

          @media screen and (min-width: 1600px) {
            &.card-descricao {
              width: 16%;
            }
          }

          @media screen and (min-width: 1700px) {
            &.card-descricao {
              width: 22%;
            }
          }

          @media screen and (min-width: 1800px) {
            &.card-descricao {
              width: 27%;
            }
          }

          @media screen and (min-width: 1870px) {
            &.card-descricao {
              width: 30%;
            }
          }

          @media screen and (max-width: 1024px) {

          }

        }
      }

      em {
        visibility: hidden;
        //position: absolute;
        position: relative;
        top: -2px;
        opacity: 0;
      }

      .card-group {
        position: relative;
        top: -7px;
      }

      &:hover {
        em {
          top: 2px;
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .card-footer {
      border: none;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background: transparent;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        height: 50px;
        width: 50px;

        i {
          font-size: 1.8rem;
          font-weight: 500;
        }
      }
    }
  }
}

@for $i from 1 through 20 {
  $val: $i / 7;
  .animated.delay-#{$i}s {
    -webkit-animation-delay: #{$val}s !important;
    animation-delay: #{$val}s !important;
  }
}