@import "../../shared/styles/color";
@import "../../shared/styles/spacing";

.demand-list-container {
  background-color: #f0f3f6;
  min-height: calc(100vh - 67px);

  .card {
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 1px 1px 8px rgba(220, 220, 220, 1);
    border-color: none !important;

    &:hover {
      background-color: rgba(240, 240, 240, 1);
    }
    .card-body {
      margin: 0 10px;

      & > .row {
        @media screen and (min-width: 1250px) {
          justify-content: space-between;
        }

        .card-group {
          display: flex;
          flex-direction: column;
          margin-right: 20px;

          p {
            margin: 0;
          }

          &.card-id {
            width: 70px;
          }

          &.card-person {
            min-height: 70px;
          }

          &.card-status {
            width: 120px;
          }

          &.card-date{
            width: 150px;
          }

          &.card-sindicato {
            width: 180px;
            p {
              white-space: nowrap;
              overflow: hidden; /* "overflow" value must be different from "visible" */
              text-overflow: ellipsis;
              width: 100%;
              max-width: 160px;
            }
          }

          em {
            color: #cccccc;
            font-style: normal;
            margin-bottom: 10px;
          }

          .card-text {
            font-size: 1.3rem;
            font-weight: 600;
            color: #333333;
          }

          .badge {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 600;
          }

          &.demand-icon {
            display: flex;
            align-items: center;

            div {
              width: 63px;

              img {
                width: 100%;
              }
            }
          }

          &.card-descricao {
            margin-right: auto;
            max-width: 768px;
          }

          &.card-categoria {
            width: 100%;
            max-width: 170px;
            p {
              white-space: nowrap;
              overflow: hidden; /* "overflow" value must be different from "visible" */
              text-overflow: ellipsis;
              width: 100%;
              max-width: 170px;
            }
          }

          .card-users {
            position: relative;
            display: flex;

            span {
              background: #0275d8;
              width: 35px;
              height: 35px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 100%;
              color: #fff;
              position: relative;
              border: 2px solid #fff;
              font-size: 0.8rem;

              &:nth-child(2n + 2) {
                left: -15px;
              }
            }
          }
        }
      }
    }

    .card-footer {
      border: none;
      background: none !important;

      a {
        width: 50px;
        height: 50px;
        display: flex;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        i {
          font-size: 1.8rem;
          font-weight: 500;
        }
      }
    }
  }
}

.fadeIn {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
